In [1]:
import pandas as pd
from dca import *

# I/ Test on full timeframe: 2000-2026

## 1. Monthly data

### a. Gold

In [2]:
df = pd.read_csv('data/monthly/gold.csv')
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"13,100.00","76,020.48","62,920.48",480.31,5.73
1,Value Averaging,"3,941.53","36,595.53","32,654.00",828.46,5.24
2,Signal-Based RSI,400.00,"1,519.54","1,119.54",279.89,0.00
3,Double Down,"13,300.00","76,837.87","63,537.87",477.73,5.74
4,Lump Sum Hybrid,"14,100.00","92,958.68","78,858.68",559.28,5.97

### b. Silver

In [3]:
df = pd.read_csv('data/monthly/silver.csv')
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"13,100.00","83,488.23","70,388.23",537.31,4.71
1,Value Averaging,"5,832.13","52,813.43","46,981.30",805.56,4.51
2,Signal-Based RSI,650.00,"2,980.70","2,330.70",358.57,0.00
3,Double Down,"14,250.00","89,551.15","75,301.15",528.43,4.76
4,Lump Sum Hybrid,"14,100.00","99,136.84","85,036.84",603.10,3.69

## 2. Weekly data

### a. Gold

In [4]:
df = pd.read_csv('data/weekly/gold.csv')
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"66,250.00","378,032.51","311,782.51",470.62,6.50
1,Value Averaging,"20,609.33","184,024.19","163,414.86",792.92,6.05
2,Signal-Based RSI,"3,350.00","12,978.35","9,628.35",287.41,0.00
3,Double Down,"66,250.00","378,032.51","311,782.51",470.62,6.50
4,Lump Sum Hybrid,"67,250.00","394,697.85","327,447.85",486.91,7.20

### b. Silver

In [5]:
df = pd.read_csv('data/weekly/silver.csv')
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"66,250.00","497,490.85","431,240.85",650.93,5.52
1,Value Averaging,"38,239.78","379,809.68","341,569.90",893.23,5.42
2,Signal-Based RSI,"5,700.00","39,793.12","34,093.12",598.12,0.00
3,Double Down,"67,350.00","505,426.19","438,076.19",650.45,5.53
4,Lump Sum Hybrid,"67,250.00","515,851.36","448,601.36",667.07,4.75

# II/ Test on hard time 2011-2018

## 1. Monthly data

### a. Gold

In [6]:
df = pd.read_csv('data/monthly/gold.csv')
# get data between 2011 and 2018 only
df = df[(df['date'] >= '2011-01-01') & (df['date'] <= '2018-12-31')]
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"4,050.00","3,887.32",-162.68,-4.02,3.89
1,Value Averaging,"4,245.82","4,190.46",-55.36,-1.30,4.29
2,Signal-Based RSI,400.00,412.06,12.06,3.02,0.00
3,Double Down,"4,200.00","4,019.81",-180.19,-4.29,3.93
4,Lump Sum Hybrid,"5,050.00","4,845.71",-204.29,-4.05,3.48

### b. Silver

In [7]:
df = pd.read_csv('data/monthly/silver.csv')
# get data between 2011 and 2018 only
df = df[(df['date'] >= '2011-01-01') & (df['date'] <= '2018-12-31')]
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"4,050.00","3,168.10",-881.90,-21.78,3.19
1,Value Averaging,"5,251.89","4,380.02",-871.87,-16.60,4.14
2,Signal-Based RSI,600.00,546.88,-53.12,-8.85,0.00
3,Double Down,"4,500.00","3,497.92","-1,002.08",-22.27,3.31
4,Lump Sum Hybrid,"5,050.00","3,715.87","-1,334.13",-26.42,1.82

## 2. Weekly data

### a. Gold

In [8]:
df = pd.read_csv('data/weekly/gold.csv')
# get data between 2011 and 2018 only
df = df[(df['date'] >= '2011-01-01') & (df['date'] <= '2018-12-31')]
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"20,900.00","20,126.58",-773.42,-3.70,5.05
1,Value Averaging,"22,018.92","21,796.54",-222.37,-1.01,5.23
2,Signal-Based RSI,"2,700.00","2,738.22",38.22,1.42,0.00
3,Double Down,"20,900.00","20,126.58",-773.42,-3.70,5.05
4,Lump Sum Hybrid,"21,900.00","21,063.89",-836.11,-3.82,6.53

### b. Silver

In [9]:
df = pd.read_csv('data/weekly/silver.csv')
# get data between 2011 and 2018 only
df = df[(df['date'] >= '2011-01-01') & (df['date'] <= '2018-12-31')]
compare_dca_strategies(df, 50)

,strategy,total_invested,final_value,profit_loss,roi_percent,sharpe_ratio
0,Fixed DCA,"20,900.00","16,573.42","-4,326.58",-20.70,4.50
1,Value Averaging,"27,261.50","22,995.72","-4,265.78",-15.65,5.04
2,Signal-Based RSI,"3,600.00","3,007.23",-592.77,-16.47,0.00
3,Double Down,"21,050.00","16,655.97","-4,394.03",-20.87,4.52
4,Lump Sum Hybrid,"21,900.00","17,121.03","-4,778.97",-21.82,3.77